#
# Cookbook Name:: <%= recipe_name %>
# Recipe:: install_sm_ext
#

execute "sm ext install <%= recipe_name %> #{node[:sm_<%= recipe_name %>_uri]}" do
  command %(sm ext install <%= recipe_name %> #{node[:sm_<%= recipe_name %>_uri]})
end
