{
  "name": "<%= recipe_name %>",
  "description": "<%= recipe_name.humanize.titleize %> recipe for EY Cloud",
  "long_description": "",
  "license": "MIT",
  "maintainer": "<%= git_user_name %>",
  "maintainer_email": "<%= git_user_email %>",
  "version": "0.1.0",
  "attributes": {
  },
  "dependencies": {
  }
}