#
# Cookbook Name:: <%= recipe_name %>
# Recipe:: install
#

<% unless known_package? -%>
<% if unmasked -%>
enable_package '<%= package %>' do
  version node[:<%= recipe_name %>_version]
end

<% end -%>
package '<%= package %>' do
  version node[:<%= recipe_name %>_version]
  action :install
end
<% else -%>
# package '<%= package %>' do
#   version node[:<%= recipe_name %>_version]
#   action :install
# end
<% end -%>
